.ballselector{
    height: 90vh;
    border-right: 1em #E5E5E5 solid ;
    border-top-right-radius:3em;
    border-bottom-right-radius:3em;

}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*simple animation colour change and size change*/
    animation-name: titleAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    height: 10em;
}

@keyframes titleAnimation {
    0% { color: #2176ff; font-size: 50px;}
    25% {font-size: 52px; }
    50% {  font-size: 54px; }
    75% {  font-size: 56px; }
    100% { color: #3d348b; font-size: 58px;}
}

.totallycentered{
margin: 0;
position: relative;
top: 30%;
text-align: center;
}
